# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.[oa]
*~
#*
Makefile.in
Makefile
*.lo
.deps
.libs
*.la
missing
stamp-h1
aclocal.m4
ABOUT-NLS
compile
m4/*.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
config.cache
config.cache-env
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
*.gmo
*.header
*.insert-header
install-sh
libtool
ltmain.sh
massif.out.*
calaos-*.tar.gz
calaos-*.tar.bz2
calaos-*.tar.xz
/data/theme/default/default.edj
/config.h.in
*.patch
config.rpath
*.po
Makefile.am.user
.dirstamp
*.edj
src/bin/calaos_home/calaos_home
src/bin/calaos_home/calaos_thumb
src/bin/calaos_server/calaos_server
po/ChangeLog
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/calaos.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
po/stamp-po
src/bin/tools/calaos_config
src/bin/tools/wago_test
src/bin/tools/calaos_thumb
src/bin/tools/calaos_mail
calaos.config
calaos.creator*
calaos.files
calaos.includes
po/remove-potcdate.sed
Makefile.am.user*
*.swp
tests/ColorValue_test
tests/*.log
tests/*.trs
test-driver
