Source: calaos
Section:  miscellaneous
Priority: optional
Maintainer: Michael Bouchaud (yoz) <yoz@fl.so>
Build-Depends: debhelper (>= 6), cdbs, libtool, pkg-config,
 libelementary-dev, libefl-dev | libecore-dev, libefl-dev | libedje-dev,
 libefl-dev | libefreet-dev, libvmime-dev, libjansson-dev,
 libsigc++-2.0-dev, gettext, libow-dev, libssl-dev, autoconf, automake,
 autopoint
Standards-Version: 3.8.2
Vcs-Git: https://github.com/calaos/calaos_base
Vcs-Browser: https://github.com/calaos/calaos_base
Homepage: http://www.calaos.fr

Package: calaos-server
Architecture: any
Depends: ${shlibs:Depends}, libvmime0,
 libjansson4, liblog4cpp5, libsigc++-2.0-0c2a, libowcapi-2.8-15
Description: Calaos is a powerful home automation software.
 It features a complete set of part to automate your house
 from lights to shutter or even music or cameras.
 Calaos uses the Enlightenment Foundation Libraries to power
 its amazing touchscreen interface.
 This is the base backage for the server

Package: calaos-home
Architecture: any
Depends: ${shlibs:Depends}, libvmime0, libjansson4, liblog4cpp5
Description: Calaos is a powerful home automation software.
 It features a complete set of part to automate your house
 from lights to shutter or even music or cameras.
 Calaos uses the Enlightenment Foundation Libraries to power
 its amazing touchscreen interface.
 This is the base backage for the touchscreen client

Package: calaos-home-dbg
Architecture: any
Section: libdevel
Description: Debug package
 This is the debug pacagke of calaos-home

Package: calaos-server-dbg
Architecture: any
Section: libdevel
Description: Debug package
 This is the debug pacagke of calaos-home
